<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Website-adfa3712-4790-4bf3-a156-09acdb696ec7;AttachDbFilename=|DataDirectory|\aspnet-Website-adfa3712-4790-4bf3-a156-09acdb696ec7.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="EatIn"
         connectionString="Data Source =.;Initial Catalog=eRestaurant;Integrated Security=SSPI"
         providerName="System.Data.SqlClient"/>
</connectionStrings>